# Node
node_modules/
frontend/node_modules/

# Build outputs
frontend/build/
artifacts/
cache/
build-info/

# Hardhat cache
cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
frontend/.env

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# npm
package-lock.json

# other
coverage/
*.cache
